
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Header Start-->
<header id="pq-header" class="pq-header-default">
    <div class="pq-top-header">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-md-6 text-right">
                    <div class="pq-header-social text-right">
                        <ul>
                            <li><a href="https://www.facebook.com/weebtp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/weebtp/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/weebtp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pq-header-contact ">
                        <ul>
                            <li>
                                <a href="tel:+8007816632"><i class="fas fa-phone-flip"></i><span>(800)781-6632</span></a>
                            </li>
                            <li>
                                <a href="mailto:initiative@weebtp.com"><i class="fas fa-envelope"></i><span>initiative@weebtp.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pq-bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="~/Home/Home">
                            <img class="img-fluid logo" src="~/Content/WebsiteContent/images/We(e)BTPv2.0.png" alt="We(e)" style="height:100px;">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div id="pq-menu-contain" class="pq-menu-contain">
                                <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="~/Home/OurServices">Services</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeCodeIGNITE" style="text-transform:none;">We(e) CodeIGNITE</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeSecurity360" style="text-transform:none;">We(e) Security360</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeCloudSPHERE" style="text-transform:none;">We(e) CloudSPHERE</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeNextgenFLOW" style="text-transform:none;">We(e) NextgenFLOW</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeBlockCENTRAL" style="text-transform:none;">We(e) BlockCENTRAL</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeDatastAIsis" style="text-transform:none;">We(e) DatastAIsis</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeePraaS" style="text-transform:none;">We(e) PraaS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a @*href="#"*@>Industries</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="~/Industries/Finance">Finance</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Healthcare">Healthcare</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Retail">Retail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Education">Education</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/RealEstate">Real Estate</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Travel">Travel</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Other">Others</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item current-menu-item">
                                        <a href="~/Home/Blog">Blog</a>@*<i class="fa fa-chevron-down pq-submenu-icon"></i>*@
                                    </li>
                                    <li class="menu-item">
                                        <a href="~/Home/ContactUs">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pq-menu-search-block">
                            @*<a href="javascript:void(0)" id="pq-seacrh-btn"><i class="fa fa-search"></i></a>
                            <div class="pq-search-form">

                            <form role="search" method="get" class="search-form"
                            action="https://techtrix.peacefulqode.com/">
                            <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                            </label>
                            <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                            </button>
                            </form>
                            </div>*@
                        </div>
                        <a href="~/Home/FreeQuote" class="pq-button">
                            <div class="pq-button-block">

                                <span class="pq-button-text">Free Quote</span>
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->
<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1 style="text-transform:none">We<span style="color: #FF0000;">(<span style="color: #00B0F0;">e</span>)</span> Blogs</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item">
                                <a @*href="#"*@>
                                    @*<i class="fa fa-home me-2"></i>*@Refreshing food for thoughts. From development, security, cloud and blockchain we
                                    share our thoughts on interesting topics
                                </a>
                            </li>
                            @*<li class="breadcrumb-item active">Blogs</li>*@
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->
<!--Left Sidebar Start-->
<section class="left-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="pq-blog pq-blog-col-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="pq-blog-post" style="height: 775px;">
                                <div class="pq-post-media">
                                    <img loading="lazy" src="~/Content/WebsiteContent/images/blogs/engineers.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="#">
                                            <span>14</span>APR
                                        </a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author" style="text-transform:none"><i class="fa fa-user"></i>We(e)</li>
                                            <li class="pq-post-meta"><a href="#"><i class="fa fa-calendar"></i>April 2023</a></li>
                                            <li class="pq-post-tag">
                                                <a href="#" style="text-transform:none"><i class="fa fa-tag"></i>Productivity</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title">
                                        <a href="~/Blogs/TheBestEngineers">
                                            The Best Engineers Do Not Build The
                                            Best Technologies
                                        </a>
                                    </h5>
                                    <p>
                                        This must sound sacrilegious because if the best engineers do not build the best
                                        technologies then who does?
                                    </p>
                                    <div class="pq-btn-container">
                                        <a href="~/Blogs/TheBestEngineers" class="pq-button">
                                            <div class="pq-button-block">
                                                <span class="pq-button-text">Read More</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pq-blog-post" style="height:775px;">
                                <div class="pq-post-media">
                                    <img src="~/Content/WebsiteContent/images/blogs/addicted.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="#"> <span>10</span>FEB</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author" style="text-transform:none"><i class="fa fa-user"></i>We(e)</li>
                                            <li class="pq-post-meta">
                                                <a href="#"><i class="fa fa-calendar"></i>Feburary 2023</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="#" style="text-transform:none"><i class="fa fa-tag"></i>Cyber Security</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title">
                                        <a href="~/Blogs/AddictedTo">
                                            Your Phone Is Not What You Are
                                            Addicted To
                                        </a>
                                    </h5>
                                    <p>
                                        Has it seemed lately that you can’t to get off your phone? And now you are
                                        considering a screen detox, but is your phone really what you are addicted to?
                                    </p>
                                    <div class="pq-btn-container">
                                        <a href="~/Blogs/AddictedTo" class="pq-button">
                                            <div class="pq-button-block">
                                                <span class="pq-button-text">Read More</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pq-blog-post" style="height:775px;">
                                <div class="pq-post-media">
                                    <img src="~/Content/WebsiteContent/images/blogs/knock.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="#"><span>04</span>FEB</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author" style="text-transform:none"><i class="fa fa-user"></i>We(e)</li>
                                            <li class="pq-post-meta"><a href="#"><i class="fa fa-calendar"></i>Feburary 2023</a></li>
                                            <li class="pq-post-tag">
                                                <a href="#" style="text-transform:none"><i class="fa fa-tag"></i>Cyber Security</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title">
                                        <a href="~/Blogs/KnockKnock">
                                            Knock Knock, Who Is Inside?
                                        </a>
                                    </h5>
                                    <p>
                                        The biggest cyber security threat is not from the hacker on the outside trying to
                                        break down the massive front gate, but who or what is inside to open the door.
                                    </p>
                                    <div class="pq-btn-container">
                                        <a href="~/Blogs/KnockKnock" class="pq-button">
                                            <div class="pq-button-block">
                                                <span class="pq-button-text">Read More</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pq-blog-post" style="height:775px;">
                                <div class="pq-post-media">
                                    <img src="~/Content/WebsiteContent/images/blogs/artificial.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="#"><span>12</span>JAN</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author" style="text-transform:none"><i class="fa fa-user"></i>We(e)</li>
                                            <li class="pq-post-meta"><a href="#"><i class="fa fa-calendar"></i>January 2023</a></li>
                                            <li class="pq-post-tag">
                                                <a href="#" style="text-transform:none"><i class="fa fa-tag"></i>Artificial Intelligence</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title">
                                        <a href="~/Blogs/ArtificialIntelligence">
                                            Artificial Intelligence: Has Judgment day
                                            arrived?
                                        </a>
                                    </h5>
                                    <p>
                                        In Arnold Schwarzenegger’s 1991 sci-fi film, an artificial intelligence software
                                        called Skynet would become self aware in 1997, and take over the world.
                                    </p>
                                    <div class="pq-btn-container">
                                        <a href="~/Blogs/ArtificialIntelligence" class="pq-button">
                                            <div class="pq-button-block">
                                                <span class="pq-button-text">Read More</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pq-blog-post" style="height:775px;">
                                <div class="pq-post-media">
                                    <img src="~/Content/WebsiteContent/images/blogs/ipc.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="#"><span>16</span>JAN</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author" style="text-transform:none"><i class="fa fa-user"></i>We(e)</li>
                                            <li class="pq-post-meta"><a href="#"><i class="fa fa-calendar"></i>January 2023</a></li>
                                            <li class="pq-post-tag">
                                                <a href="#" style="text-transform:none"><i class="fa fa-tag"></i>Productivity</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title">
                                        <a href="~/Blogs/InterprofessionalCollaboration">
                                            Interprofessional Collaboration (IPC)
                                            Delivers Better Results
                                        </a>
                                    </h5>
                                    <p>
                                        Ever wondered why an idea that seemed so great and a winner on paper ended up being a loser when
                                        built? Could it be because some smart people thought they knew it all?
                                    </p>
                                    <div class="pq-btn-container">
                                        <a href="~/Blogs/InterprofessionalCollaboration" class="pq-button">
                                            <div class="pq-button-block">
                                                <span class="pq-button-text">Read More</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pq-blog-post" style="height:775px;">
                                <div class="pq-post-media">
                                    <img src="~/Content/WebsiteContent/images/blogs/blockchain5.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="#"><span>17</span>DEC</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author" style="text-transform:none"><i class="fa fa-user"></i>We(e)</li>
                                            <li class="pq-post-meta"><a href="#"><i class="fa fa-calendar"></i>December 2022</a></li>
                                            <li class="pq-post-tag">
                                                <a href="#" style="text-transform:none"><i class="fa fa-tag"></i>Blockchain</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="~/Blogs/CryptoCurrency">Crypto Currency Is Not The Future of Blockchain</a></h5>
                                    <p>
                                        With all the news and hype around cryptocurrencies nowadays, your are forgiven
                                        to think that is all blockchain is about, but there is more to it and cyrptocurrency is
                                        not the future.
                                    </p>
                                    <div class="pq-btn-container">
                                        <a href="~/Blogs/CryptoCurrency" class="pq-button">
                                            <div class="pq-button-block">
                                                <span class="pq-button-text">Read More</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Left Sidebar End-->
