
@{
    ViewData["Title"] = "ReadMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Header Start-->
<header id="pq-header" class="pq-header-default">
    <div class="pq-top-header">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-md-6 text-right">
                    <div class="pq-header-social text-right">
                        <ul>
                            <li><a href="https://www.facebook.com/weebtp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/weebtp/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/weebtp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pq-header-contact ">
                        <ul>
                            <li>
                                <a href="tel:+8007816632"><i class="fas fa-phone-flip"></i><span>(800)781-6632</span></a>
                            </li>
                            <li>
                                <a href="mailto:initiative@weebtp.com"><i class="fas fa-envelope"></i><span>initiative@weebtp.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pq-bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="~/Home/Home">
                            <img class="img-fluid logo" src="~/Content/WebsiteContent/images/We(e)BTPv2.0.png" alt="We(e)" style="height:100px;">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div id="pq-menu-contain" class="pq-menu-contain">
                                <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="~/Home/OurServices">Services</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeCodeIGNITE" style="text-transform:none;">We(e) CodeIGNITE</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeSecurity360" style="text-transform:none;">We(e) Security360</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeCloudSPHERE" style="text-transform:none;">We(e) CloudSPHERE</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeNextgenFLOW" style="text-transform:none;">We(e) NextgenFLOW</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeBlockCENTRAL" style="text-transform:none;">We(e) BlockCENTRAL</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeDatastAIsis" style="text-transform:none;">We(e) DatastAIsis</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeePraaS" style="text-transform:none;">We(e) PraaS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Industries</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="~/Industries/Finance">Finance</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Healthcare">Healthcare</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Retail">Retail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Education">Education</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/RealEstate">Real Estate</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Travel">Travel</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Industries/Other">Others</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="~/Home/Blog">Blog</a>@*<i class="fa fa-chevron-down pq-submenu-icon"></i>*@
                                    </li>
                                    <li class="menu-item">
                                        <a href="~/Home/ContactUs">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pq-menu-search-block">
                            @*<a href="javascript:void(0)" id="pq-seacrh-btn"><i class="fa fa-search"></i></a>
                            <div class="pq-search-form">

                            <form role="search" method="get" class="search-form"
                            action="https://techtrix.peacefulqode.com/">
                            <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                            </label>
                            <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                            </button>
                            </form>
                            </div>*@
                        </div>
                        <a href="~/Home/FreeQuote" class="pq-button">
                            <div class="pq-button-block">

                                <span class="pq-button-text">Free Quote</span>
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->
<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1 style="text-transform:none">
                            The We(e) Advantage
                        </h1>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->
<!--Software Start-->
<section class="pq-pb-190">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<img src="images/about-us/1.png" alt="">*@
                <h2 class="pq-heading mt-4" style="text-transform:none">
                    Grow your business with We(e) Business Technology
                    Partners
                </h2>
                <p class="pq-description">
                    At We(e) Business Technology Partners, we deliver innovative software and IT services tailored to your business needs. Explore our comprehensive services and discover how we
                    can help you achieve your full potential in the digital age.
                </p>
                <div class="row">
                </div>
                <div class="row mt-4 border-0">
                    <div class="col-lg-6">
                        <img src="~/Content/WebsiteContent/images/readmore/software-dev-svc-image.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0 mb-3">
                            <a href="#">
                                Software Development Services
                            </a>
                        </h2>
                        <p class="pq-description mb-3" style="font-weight:bold">
                            Innovative Software Solutions
                        </p>
                        <p class="pq-description mb-0">
                            Transform your business with our custom web, mobile, and desktop
                            applications. We leverage the latest technologies to deliver scalable, secure, and user-friendly software.
                        </p>

                    </div>
                </div>
                <br />
                <div class="row">
                </div>
                <div class="row mt-4 border-0">
                    <div class="col-lg-6">
                        <img src="~/Content/WebsiteContent/images/readmore/security-svc-image.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0 mb-3">
                            <a href="#">
                                Security Services
                            </a>
                        </h2>
                        <p class="pq-description mb-3" style="font-weight:bold">
                            Comprehensive Security Solutions
                        </p>

                        <p class="pq-description mb-0">
                            Protect your digital assets with our advanced security services. We offer
                            risk assessments, penetration testing, and continuous monitoring to
                            safeguard against threats.
                        </p>

                    </div>
                </div>
                <br />
                <div class="row">
                </div>
                <div class="row mt-4 border-0">
                    <div class="col-lg-6">
                        <img src="~/Content/WebsiteContent/images/readmore/cloud-svc-image.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0 mb-3">
                            <a href="#">Cloud Services</a>
                        </h2>
                        <p class="pq-description mb-3" style="font-weight:bold">
                            Tailored Cloud Solutions
                        </p>
                        <p class="pq-description mb-0">
                            Optimize your operations with our cloud migration, management, and
                            optimization services. We create efficient, cost-effective cloud
                            architectures for your business.
                        </p>


                    </div>
                </div>
                <br />
                <div class="row">
                </div>
                <div class="row mt-4 border-0">
                    <div class="col-lg-6">
                        <img src="~/Content/WebsiteContent/images/readmore/networking-svc-image.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0 mb-3">
                            <a href="#">Networking Services</a>
                        </h2>

                        <p class="pq-description mb-3" style="font-weight:bold">
                            Next-Gen Networking with AI & Automation
                        </p>
                        <p class="pq-description mb-0">
                            Experience cutting-edge networking with our AI-driven and automated
                            solutions. Specializing in LAN, WAN, SD-WAN and more, we enhance
                            connectivity, efficiency, and security.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                </div>
                <div class="row mt-4 border-0">
                    <div class="col-lg-6">
                        <img src="~/Content/WebsiteContent/images/readmore/blockchain-svc-image.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0 mb-3">
                            <a href="#">Blockchain Services </a>
                        </h2>
                        <p class="pq-description mb-3" style="font-weight:bold">
                            Blockchain Innovation
                        </p>

                        <p class="pq-description mb-0">
                            Unlock new possibilities with our blockchain solutions, including
                            decentralized apps and smart contracts. We provide secure, transparent, and scalable implementations.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                </div>
                <div class="row mt-4 border-0">
                    <div class="col-lg-6">
                        <img src="~/Content/WebsiteContent/images/readmore/ai-automation-svc-image.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0 mb-3">
                            <a href="#">AI and Automation Services</a>
                        </h2>
                        <p class="pq-description mb-3" style="font-weight:bold">
                            AI & Automation Excellence
                        </p>
                        <p class="pq-description mb-0">
                            Empower your business with AI and automation. We offer custom AI
                            models and workflow automation to enhance decision-making and
                            streamline processes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Software End-->
